body {
  /* background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  font-family: "Noto Sans TC", sans-serif; /* 使用Noto Sans TC 思源黑體 */
}

/* 固定投影片標題位置 */
/* 距離頂部50px, 水平置中, 確保標題位於內容上方不會被重疊, 設置container是viewport寬度的80%  */
/* 標題文字顏色為白色, 大小固定40px */
.title-container {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px;
  text-align: center;
  width: 80%;
  color: #e1a383;
  font-size: 3.5vw;
  margin-bottom: 20px;
  white-space: nowrap;
}

/* 封面標題 */
.front-title-container {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px;
  text-align: center;
  width: 80%;
  color: #e1a383;
  font-size: 5vw;
  margin-bottom: 20px;
  white-space: nowrap;
}

/* 給內容留出頂部空間以防內容重疊標題 */
.reveal .slides section {
  padding: 20px;
  box-sizing: border-box; /* 確保padding包含在元素總寬度內 */
}

/* 固定內文文字大小 */
.reveal .slides section p {
  padding: 20px;
  font-size: 1.2vw;
  color: #858585;
}

/* 副標題 */
.reveal .slides section p.subtitle {
  padding: 20px;
  font-size: 1.8vw;
  color: #e1a383;
}

/* 白色文字 */
.reveal .slides section p.white-text {
  color: #ffffff;
}

/* PC:1.2vw, 平板:2vw, 手機:2.5vw */
.reveal .slides section p.small-text {
  font-size: 1.2vw;
}

/* 靠左大標題 */
.reveal .slides section p.left-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
  padding: 10px 50px;
  text-align: left;
  width: 80%;
  color: #e1a383;
  font-size: 5vw;
  white-space: nowrap;
  font-weight: bold;
}

/* 漸層文字 */
.gradient-text {
  font-weight: 550; /* 設置粗體但不那麼粗 */
  background: linear-gradient(
    to right,
    #d1542e,
    #c55b3a,
    #e1a383,
    #d3ae9b,
    #dfc6ba
  ); /* 漸層 */
  -webkit-background-clip: text; /* 使背景漸變用於文字, 基於WebKit的瀏覽器 */
  -webkit-text-fill-color: transparent; /* 文字填充設為透明, 使背景漸變可見 */
  text-align: center; /* 文字置中對齊 */
}

/* 重點文字 */
.highlight-text {
  color: #c55b3a;
  font-weight: bold;
}

.grid-container {
  position: relative;
  display: grid;
  place-items: center;
}

.grid-container img {
  position: absolute;
  object-fit: contain;
  z-index: 1; /* 確保圖片在文字下面 */
}

.grid-container p.text {
  position: relative;
  font-size: 1.2vw;
  z-index: 2; /* 確保文字在圖片上方 */
}

/* 頁碼 */
.slide-number {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1vw;
  color: #e1a383;
  padding: 10px;
  margin: 0;
  z-index: 1000; /* 確保頁碼在最上層 */
}

/* 目錄連結 */
.table-of-contents {
  font-size: 2.2vw;
  color: #e1a383;
  text-decoration: none; /* 去掉底線 */
  font-weight: 550;
}

/**/
.table-of-contents:hover {
  color: #e1a383;
  text-decoration: underline; /* hover時添加底線 */
}

.table-of-contents:visited {
  color: #e1a383;
}

.table-of-contents:active {
  color: #e1a383;
}

/* table-of-contents的0.7倍 */
.table-of-contents-slide-number {
  display: flex;
  font-size: 1.54vw;
  color: #e1a383;
  margin-left: auto;
  padding: 10px 0px;
}

ul {
  margin: 10px 150px 10px 350px; /* 上 右 下 左 */
}

/* 不顯示圓點or任何樣式 */
.no-bullets {
  list-style-type: none;
  display: flex;
  margin: 20px;
  box-sizing: border-box;
}

.left-text-right-img {
  width: 800px;
  margin: 50px auto;
}

.right {
  width: 380px;
  float: right; /* 圖片在右邊 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
  box-sizing: border-box;
}

/* 切片尺寸越大, 漸變分布越寬鬆 */
.right img {
  display: block;
  width: 100%;
}

.left {
  float: left; /* 文字在左邊 */
  width: 380px;
  height: 420px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
  background-color: #f9ece6;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: 1;
}

.left p {
  text-align: left;
  line-height: 1.6;
}

.left p.subtitle {
  text-align: center;
}

/* 手機 */
@media (max-width: 600px) {
  .title-container {
    font-size: 7vw;
  }
  .front-title-container {
    font-size: 10vw;
  }
  .reveal .slides section p {
    font-size: 5vw;
  }
  /* 副標題 */
  .reveal .slides section p.subtitle {
    font-size: 6vw;
  }
  .slide-number {
    font-size: 4vw;
  }

  .table-of-contents {
    font-size: 6vw;
  }

  .table-of-contents-slide-number {
    font-size: 4.2vw;
  }

  .reveal .slides section p.small-text {
    font-size: 2.5vw;
  }

  .reveal .slides section p.left-title {
    font-size: 10vw;
  }
}

/* 針對平板 */
@media (min-width: 601px) and (max-width: 1024px) {
  .title-container {
    font-size: 7vw;
  }
  .front-title-container {
    font-size: 10vw;
  }
  .reveal .slides section p {
    font-size: 3vw;
  }
  /* 副標題 */
  .reveal .slides section p.subtitle {
    font-size: 4vw;
  }
  .slide-number {
    font-size: 2vw;
  }

  .table-of-contents {
    font-size: 4vw;
  }

  .table-of-contents-slide-number {
    font-size: 2.8vw;
  }

  .reveal .slides section p.small-text {
    font-size: 2vw;
  }

  .reveal .slides section p.left-title {
    font-size: 10vw;
  }
}

/* 針對桌機 */
@media (min-width: 1025px) {
  .title-container {
    font-size: 3.5vw;
  }
  .front-title-container {
    font-size: 5vw;
  }
  .reveal .slides section p {
    font-size: 1.2vw;
  }
  /* 副標題 */
  .reveal .slides section p.subtitle {
    font-size: 1.8vw;
  }
  .slide-number {
    font-size: 1vw;
  }

  .table-of-contents {
    font-size: 2.2vw;
  }

  .table-of-contents-slide-number {
    font-size: 1.54vw;
  }

  .reveal .slides section p.small-text {
    font-size: 1.2vw;
  }

  .reveal .slides section p.left-title {
    font-size: 5vw;
  }
}
