body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

/* 標題上方留點空白, 看起來比較和諧 */
h1 {
  margin-top: 20px;
}

/* 跟標題中間隔點距離 */
#toolbar {
  margin: 10px 0;
}

#startButton {
  font-size: 20px;
  color: red;
}

#toggleButton {
  font-size: 20px;
  color: blue;
}

/* 9*9格, 每格大小50*50 */
#gameContainer {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 2px;
  margin-top: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #c4e1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #6c6c6c;
  position: relative;
}

.cell.revealed {
  background-color: #e0e0e0;
  cursor: default;
}

.cell.flag {
  background-color: #ffff37;
}

#author {
  color: white;
  font-size: 20px;
  text-shadow: -1px -1px 0 rgb(236, 42, 107), 1px -1px 0 rgb(236, 42, 107),
    -1px 1px 0 rgb(236, 42, 107), 1px 1px 0 rgb(236, 42, 107);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
